###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_L2_FAPI_SIM
	comment "No additional options for L2_FAPI_SIM"

# 	config APPS_L2_FAPI_SIM_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
